:root {
    --azul: #1c4484;
    --rojo: #8a1d1c;
    --amarillo: #f6f48d;
    --blanco: #ffffff;
    --bordo-oscuro: #6c1d1c;
    --azul-oscuro: #133c7f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: transparent;
    background: linear-gradient(to right,#163568, #285986,#3d82bd, #7fb3e6, #2353a1, #4375a3);
    animation: gradientAnimation 10s ease infinite;

}

.logo {
    height: 80px;
    margin-bottom: 0.5rem;
}

header h1 {
    font-size: 2rem;
}

main.contenido {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.tarjeta {
    background-color: rgba(28, 68, 132, 0.9);
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.tarjeta h2 {
    margin-bottom: 1rem;
}

.boton {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--rojo);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background 0.3s;
}

.boton:hover {
    background-color: var(--bordo-oscuro);
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    animation: cambioDeColor 3s infinite;
    background-color: transparent;
    background: linear-gradient(to right,#163568, #285986,#3d82bd, #7fb3e6, #2353a1, #4375a3);
}
@keyframes cambioDeColor {
  0% { background-color: #163568, #285986; }   
  50% { background-color: #3d82bd, #7fb3e6; }  
  100% { background-color: #2353a1, #4375a3; }
}


.user-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255,255,255,0.1);
    padding: 0.5rem 1rem;
    border-radius: 30px;
    color: white;
}

.user-icon img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
